<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/img/robber.png" width="40" height="40" class="d-inline-block align-top" alt="">
          near zer0 NFTs
        </a>
        <div>
            <button class="btn btn-outline-light btn-sm" type="button" id="connect-wallet" hidden=true>Connect Wallet</button>
        </div>
      </nav>
      <div class="card mb-3">
        <img class="card-img-top" src="/img/bg.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">What it does</h5>
          <p class="card-text">Watches OBJKT.com and HEN marketplace.</p>
          <p class="card-text">Shows results under certain price threshold.</p>
          <p class="card-text">Keeps up to 150 results.</p>
          <p class="card-text">Redirects to said marketplace.</p>
          
          <h5 class="card-title">What it does not</h5>
          <p class="card-text">Display video & generative thumbnails.</p>
          <p class="card-text">Auto buy for you.</p>
        </div>
      </div>
    <div class="footer-margin">
        <footer class="card-footer bg-light footer-font-style fixed-bottom text-muted footer-position" id='footerSticky'>
            <a href="https://teia.art">teia.art /</a>
            <a class = 'align-items-right' href="https://tzkt.io">tzkt /</a>
            <a href='https://better-call.dev/'>better-call.dev /</a>
            <a href='https://objkt.com'>OBJKT /</a>
            <a class = 'align-items-left' href="/about">about this /</a>
        </footer>
    </div>
</body>
</html>